body{
    font-family: "Poppins",sans-serif;
    background-color: #f3f3f3;
    padding: 0;
    margin: 20px;
}

.todo-container{
    background: #fff;
    border-radius: 15px;
    max-width: 450px;
    margin: 0px auto;
    text-align: center;
    padding: 15px 20px;
    box-shadow: 0 1px 3px;
}

.todo-container input{
    border-radius: 5px;
    border: 1px solid #bfbcbc;
    padding: 10px;

}

.todo-form button{
    border-radius: 5px;
    border: 1px solid #bfbcbc;
    padding: 10px;
    margin-left: 5px;
    background-color: rgb(255, 176, 28);
    font-weight: 500;
}

.todo-form button:hover{
    background-color: rgba(212, 145, 20, 0.897);
    transition:   0.3s ease-in-out;
    transform: scale(1.15);
} 

.todo-daftar{
    background: rgb(255, 176, 28) ;
    box-shadow: 0 2px 2px;
    border-radius: 10px;
    padding: 10px 20px 25px 20px ;
    margin-top: 10px;
    text-align: center;
    
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-list li {
    background: #fff;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: left;
}

.todo-list li form {
    margin: 0;
}

.todo-list .delete-btn {
    background-color: crimson;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    
}

.todo-list .delete-btn:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.15);
}